body {
    background-color: blueviolet;
}

#grid ul.cards {
    width: 100vw;
    height: 100vh;
    /* remove the bullets */
    list-style: none;
    /* remove default ul spacing */
    margin: 0;
    padding: 0;
    /* turn into a grid layout */
    display: grid;
    /* define the grid system */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: 40% 60%; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vw;
    /* align grid items along column axis */
    justify-items: center;
    /* align grid items along row axis */
    align-items: center;
}

#grid ul.cards li {
    background-color: white;
    width: auto;
    height: auto;
    min-width: 20vw;
    min-height: 20vh;
    padding: 2vh;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #d0bfff;
}

#grid .title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

#grid #card1 {
    background-color: chartreuse !important;
    /* indicate the column grid line the item starts */
    grid-column-start: 2;
    /* indicate the column grid line the item ends */
    grid-column-end: 3;
    /* indicate the row grid line the item starts */
    grid-row-start: 1;
    /* indicate the row grid line the item ends */
    grid-row-end: 2;
}

#grid #card2 {
    background-color: crimson !important;
    /* indicate the column grid line the item starts */
    grid-column-start: 3;
    /* indicate the column grid line the item ends */
    grid-column-end: 4;
    /* indicate the row grid line the item starts */
    grid-row-start: 1;
    /* indicate the row grid line the item ends */
    grid-row-end: 3;
}

#grid #card3 {
    background-color: yellow !important;
    /* indicate the column grid line the item starts */
    grid-column-start: 2;
    /* indicate the column grid line the item ends */
    grid-column-end: 4;
    /* indicate the row grid line the item starts */
    grid-row-start: 3;
    /* indicate the row grid line the item ends */
    grid-row-end: 4;
}

#grid #card4 {
    background-color: pink !important;
    /* indicate the column grid line the item starts */
    grid-column-start: 1;
    /* indicate the column grid line the item ends */
    grid-column-end: 2;
    /* indicate the row grid line the item starts */
    grid-row-start: 2;
    /* indicate the row grid line the item ends */
    grid-row-end: 4;
}